<div class="container-fluid">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col-lg-2 text-right">
        <a routerLink="/">
          <img src="/assets/images/mandje.png" alt="logo" />
        </a>
      </div>
      <div class="col-lg-6">
          <h1 class="display-4 text-center">Boodschappenlijst</h1>
      </div>
      <div class="col-lg-4 btn-group">
        <button type="button" class="btn btn-light ml-auto" (click)="onLogin()">Inloggen</button>
        <button type="button" class="btn btn-light" (click)="onRegister()">Registreren</button>
      </div>
    </div> <!-- end row -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
      <!-- toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/lijst">Mijn Boodschappenlijst</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/recepten">Mijn Recepten</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/winkels">Mijn Winkels</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/download">Download App</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/hulp">Hulp</a>
          </li>
        </ul>
        <!-- search form-->
        <form class="form-inline" action="#" > <!--TODO: search product-->
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Zoek product..." />
            <div class="input-group-append">
              <button class="btn" type="submit">
                <fa name="search"></fa>
              </button>
            </div>
          </div> <!-- end input-group -->
        </form>
      </div>
    </nav>
  </div> <!-- end container -->
</div> <!-- end container-fluid -->
