<div id="footerOverride" class="container-fluid bgLime900 text-white">
  <div class="container small pt-3">
    <div class="row">
      <div class="col-md-3">
        <p class="text-uppercase">Features</p>
        <ul class="list-unstyled">
          <li><a href="#">Mijn boodschappenlijst</a></li>
          <li><a href="#">Mijn winkels</a></li>
          <li><a href="#">Mijn recepten</a></li>
        </ul>
      </div> <!-- end col 1-->
      <div class="col-md-3">
          <p class="text-uppercase">Download</p>
          <ul class="list-unstyled">
            <li><a href="#">Boodschappenlijst App Android</a></li>
            <li><a href="#">Boodschappenlijst App iOS</a></li>
            <li><a href="#">Boodschappenlijst App Windows</a></li>
          </ul>
        </div> <!-- end col 2-->
        <div class="col-md-3">
            <p class="text-uppercase">Support</p>
            <ul class="list-unstyled">
              <li><a href="#">Wat is Boodschappenlijst</a></li>
              <li><a href="#">Hoe werkt Boodschappenlijst</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div> <!-- end col 3-->
          <div class="col-md-3">
              <p class="text-uppercase">Boodschappenlijst</p>
              <ul class="list-unstyled">
                <li><a href="#">Over ons</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacyverklaring</a></li>
                <li><a href="#">Gebruiksvoorwaarden</a></li>
              </ul>
            </div> <!-- end col 4-->
    </div> <!-- end row 1 -->
    <div class="row text-center mt-3">
      <div class="col-12">
        <p class="m-0">
          Copyright &copy;2018
          <a href="https://www.thomasmore.be/campussen/campus-de-nayer" target="_blank">
            Thomas More Mechelen-Antwerpen vzw – Campus De Nayer
          </a>
        </p>
        <p>V&eacute;ronique Wuyts - Bachelor Elektronica-ICT</p>
      </div>
    </div> <!-- end row 2-->
  </div> <!-- end container-->
</div> <!-- end container-fluid -->
