<div id="footerOverride" class="container-fluid bgLime900 text-white">
  <div class="container small pt-3">
    <div class="row">
      <div class="col-md-3">
        <p class="text-uppercase">Features</p>
        <ul class="list-unstyled">
          <li><a routerLink="/lijst">Mijn boodschappenlijst</a></li>
          <li><a routerLink="/winkels">Mijn winkels</a></li>
          <li><a routerLink="/recepten">Mijn recepten</a></li>
        </ul>
      </div> <!-- end col 1-->
      <div class="col-md-3">
          <p class="text-uppercase">Download App</p>
          <ul class="list-unstyled">
            <li><a href="https://play.google.com/store/apps" target="blank">Android</a></li>
            <li><a href="https://www.apple.com/lae/ios/app-store" target="blank">iPhone</a></li>
            <li><a href="https://www.microsoft.com/nl-be/store/appsvnext/windows" target="blank">Windows Phone</a></li>
          </ul>
        </div> <!-- end col 2-->
        <div class="col-md-3">
            <p class="text-uppercase">Support</p>
            <ul class="list-unstyled">
              <li><a routerLink="/hulp">Wat is Boodschappenlijst</a></li>
              <li><a routerLink="/hulp">Hoe werkt Boodschappenlijst</a></li>
              <li><a routerLink="/hulp">FAQ</a></li>
              <li><a routerLink="/hulp">Help</a></li>
            </ul>
          </div> <!-- end col 3-->
          <div class="col-md-3">
              <p class="text-uppercase">Boodschappenlijst</p>
              <ul class="list-unstyled">
                <li><a routerLink="/about">Over ons</a></li>
                <li><a routerLink="/about">Contact</a></li>
                <li><a routerLink="/about">Privacyverklaring</a></li>
                <li><a routerLink="/about">Gebruiksvoorwaarden</a></li>
                <li><a routerLink="/referenties">Referenties</a></li>
              </ul>
            </div> <!-- end col 4-->
    </div> <!-- end row 1 -->
    <div class="row text-center mt-3">
      <div class="col-12">
        <p class="m-0">
          Copyright &copy;2018
          <a href="https://www.thomasmore.be/campussen/campus-de-nayer" target="_blank">
            Thomas More Mechelen-Antwerpen vzw – Campus De Nayer
          </a>
        </p>
        <p>V&eacute;ronique Wuyts – Bachelor Elektronica-ICT</p>
      </div>
    </div> <!-- end row 2-->
  </div> <!-- end container-->
</div> <!-- end container-fluid -->
