/* Refs: GoogleMaterialDesign_2018 - SmugglerFlyn_2014 */
#homeOverride.bgLime50 {
  background-color: #F9FBE7;
}
img.app{
  height: 400px;
}
img.logo{
  width: 60px;
}
img.platform{
  height: 30px;;
}
/*ul{
  top: 220px;
  position: fixed;
}*/
