<div id="homeOverride" class="container-fluid bgLime50">
  <div class="container">

    <div class="row py-4">
      <div class="col-12">
        <h3>Boodschappenlijst</h3>
      </div> <!-- end column -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-12">
        <div id="overzicht" class="clearfix text-left">
          <img src="/assets/images/WF_App_home.png" alt="smartphone" class="float-left" />
          <h5>Overzicht</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo. Nulla ut quam et nisi finibus vulputate. In facilisis lectus et lacus fermentum, ac placerat velit finibus. Nunc risus est, posuere at pulvinar sed, malesuada non mi. Integer tempus orci sed laoreet vulputate. Duis sollicitudin felis ut eleifend aliquam. Sed fringilla placerat eros a consectetur. Nunc sed lectus lorem. Phasellus imperdiet massa vel fermentum condimentum. Donec gravida neque in velit congue condimentum.
          </p>
          <p>
            Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. Duis sollicitudin efficitur turpis, vel imperdiet nibh laoreet sit amet. Quisque aliquam turpis a tortor imperdiet, sit amet aliquet nulla fringilla. Praesent est velit, dapibus ac vestibulum quis, maximus quis lacus. Ut suscipit et ligula eget viverra. Pellentesque a molestie turpis, et aliquam leo. Proin congue elit sit amet lectus venenatis, quis vehicula ante pellentesque. Morbi risus tortor, venenatis semper sagittis in, egestas nec justo. Nam cursus ex suscipit pellentesque pretium. Mauris tellus urna, volutpat sit amet eleifend quis, imperdiet sit amet ante. Duis interdum ligula id lorem faucibus, id tempor tortor efficitur. Integer dictum tellus enim, in tincidunt justo tristique a.
          </p>
          <hr />
        </div>
        <div id="android" class="clearfix text-right">
          <img src="/assets/images/WF_App_addProduct.png" alt="smartphone" class="float-right" />
          <h5>Android</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo. Nulla ut quam et nisi finibus vulputate. In facilisis lectus et lacus fermentum, ac placerat velit finibus. Nunc risus est, posuere at pulvinar sed, malesuada non mi. Integer tempus orci sed laoreet vulputate. Duis sollicitudin felis ut eleifend aliquam. Sed fringilla placerat eros a consectetur. Nunc sed lectus lorem. Phasellus imperdiet massa vel fermentum condimentum. Donec gravida neque in velit congue condimentum.
          </p>
          <p>
            Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. Duis sollicitudin efficitur turpis, vel imperdiet nibh laoreet sit amet. Quisque aliquam turpis a tortor imperdiet, sit amet aliquet nulla fringilla. Praesent est velit, dapibus ac vestibulum quis, maximus quis lacus. Ut suscipit et ligula eget viverra. Pellentesque a molestie turpis, et aliquam leo. Proin congue elit sit amet lectus venenatis, quis vehicula ante pellentesque. Morbi risus tortor, venenatis semper sagittis in, egestas nec justo. Nam cursus ex suscipit pellentesque pretium. Mauris tellus urna, volutpat sit amet eleifend quis, imperdiet sit amet ante. Duis interdum ligula id lorem faucibus, id tempor tortor efficitur. Integer dictum tellus enim, in tincidunt justo tristique a.
          </p>
          <hr />
        </div>
        <div id="ios" class="clearfix text-left">
          <img src="/assets/images/WF_App_home.png" alt="smartphone" class="float-left" />
          <h5>iOS</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo. Nulla ut quam et nisi finibus vulputate. In facilisis lectus et lacus fermentum, ac placerat velit finibus. Nunc risus est, posuere at pulvinar sed, malesuada non mi. Integer tempus orci sed laoreet vulputate. Duis sollicitudin felis ut eleifend aliquam. Sed fringilla placerat eros a consectetur. Nunc sed lectus lorem. Phasellus imperdiet massa vel fermentum condimentum. Donec gravida neque in velit congue condimentum.
          </p>
          <p>
            Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. Duis sollicitudin efficitur turpis, vel imperdiet nibh laoreet sit amet. Quisque aliquam turpis a tortor imperdiet, sit amet aliquet nulla fringilla. Praesent est velit, dapibus ac vestibulum quis, maximus quis lacus. Ut suscipit et ligula eget viverra. Pellentesque a molestie turpis, et aliquam leo. Proin congue elit sit amet lectus venenatis, quis vehicula ante pellentesque. Morbi risus tortor, venenatis semper sagittis in, egestas nec justo. Nam cursus ex suscipit pellentesque pretium. Mauris tellus urna, volutpat sit amet eleifend quis, imperdiet sit amet ante. Duis interdum ligula id lorem faucibus, id tempor tortor efficitur. Integer dictum tellus enim, in tincidunt justo tristique a.
          </p>
          <hr />
        </div>
        <div id="windows" class="clearfix text-right">
          <img src="/assets/images/WF_App_addProduct.png" alt="smartphone" class="float-right" />
          <h5>Windows</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo. Nulla ut quam et nisi finibus vulputate. In facilisis lectus et lacus fermentum, ac placerat velit finibus. Nunc risus est, posuere at pulvinar sed, malesuada non mi. Integer tempus orci sed laoreet vulputate. Duis sollicitudin felis ut eleifend aliquam. Sed fringilla placerat eros a consectetur. Nunc sed lectus lorem. Phasellus imperdiet massa vel fermentum condimentum. Donec gravida neque in velit congue condimentum.
          </p>
          <p>
            Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. Duis sollicitudin efficitur turpis, vel imperdiet nibh laoreet sit amet. Quisque aliquam turpis a tortor imperdiet, sit amet aliquet nulla fringilla. Praesent est velit, dapibus ac vestibulum quis, maximus quis lacus. Ut suscipit et ligula eget viverra. Pellentesque a molestie turpis, et aliquam leo. Proin congue elit sit amet lectus venenatis, quis vehicula ante pellentesque. Morbi risus tortor, venenatis semper sagittis in, egestas nec justo. Nam cursus ex suscipit pellentesque pretium. Mauris tellus urna, volutpat sit amet eleifend quis, imperdiet sit amet ante. Duis interdum ligula id lorem faucibus, id tempor tortor efficitur. Integer dictum tellus enim, in tincidunt justo tristique a.
          </p>
          <hr />
        </div>
      </div> <!-- end column -->
    </div> <!-- end row -->

  </div> <!-- end container -->
</div> <!-- end container-fluid -->
