<div id="homeOverride" class="container-fluid bgLime50">
  <div class="container pb-5">
    <div class="row">
      <nav class="col-sm-2">
        <ul class="navbar-nav sticky-top">
          <li class="nav-item">
            <a class="nav-link" href="#overzicht">Overzicht</a>
            <!-- <a class="nav-link" [routerLink]="['/']" fragment="overzicht">Overzicht</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#android">Android</a>
            <!-- <a class="nav-link" [routerLink]="['/']" fragment="android">Android</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ios">iOS</a>
            <!-- <a class="nav-link" [routerLink]="['/']" fragment="ios">iOS</a> -->
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#windows">Windows</a>
              <!-- <a class="nav-link" [routerLink]="['/']" fragment="windows">Windows</a> -->
          </li>
        </ul>
      </nav>
      <div class="col-sm-10" >
        <div id="overzicht" class="clearfix pt-3 pl-5">
            <div class="mb-4">
              <img src="/assets/images/App_main.png" alt="smartphone" class="float-right ml-5" />
              <img src="/assets/images/mandje.png" alt="logo" class="float-left logo mr-3" />
              <h3>Boodschappenlijst</h3>
              <h6 class="text-info">Overzicht</h6>
            </div>
            <div class="row text-muted font-weight-light">
              <div class="col-sm-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo.</p>
              </div>
              <div class="col-sm-6">
                  <p>Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. </p>
              </div>
            </div> <!-- end row -->
            <div class="row text-muted font-weight-light">
              <div class="col-sm-12">
                <h6 class="text-success">Beheer je boodschappenlijst met onze website</h6>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                <h6 class="text-success text-right">Automatische synchronisatie</h6>
                <p class="text-right">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa.</p>
              </div>
            </div>
            <hr />
        </div> <!-- end overzicht -->
        <div id="android" class="clearfix pt-3 pl-5">
          <div class="mb-4">
            <img src="/assets/images/WF_App_home.png" alt="smartphone" class="float-left app mr-5" />
            <h3>Boodschappenlijst</h3>
            <h6 class="text-info">Voor Android</h6>
          </div>
          <div class="row text-muted font-weight-light">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo.</p>
            </div>
            <div class="col-sm-6">
                <p>Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. </p>
            </div>
          </div> <!-- end row -->
          <div class="clearfix pt-5">
            <img src="/assets/images/mandje.png" alt="logo" class="float-left logo mr-3" />
            <p class="text-primary">Boodschappenlijst</p>
            <a href="https://play.google.com/store/apps" target="blank">
              <img src="/assets/images/googlePlay.png" alt="Google Play" class="platform" />
            </a>
          </div>
          <hr />
        </div> <!-- end android -->
        <div id="ios" class="clearfix pt-3 pl-5">
          <div class="mb-4">
            <img src="/assets/images/WF_App_addProduct.png" alt="smartphone" class="float-right app ml-5" />
            <h3>Boodschappenlijst</h3>
            <h6 class="text-info">Voor iOS</h6>
          </div>
          <div class="row text-muted font-weight-light">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo.</p>
            </div>
            <div class="col-sm-6">
                <p>Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. </p>
            </div>
          </div> <!-- end row -->
          <div class="clearfix pt-5">
            <img src="/assets/images/mandje.png" alt="logo" class="float-left logo mr-3" />
            <p class="text-primary">Boodschappenlijst</p>
            <a href="https://www.apple.com/lae/ios/app-store" target="blank">
              <img src="/assets/images/appStore.png" alt="App Store" class="platform" />
            </a>
          </div>
          <hr />
        </div> <!-- end ios -->
        <div id="windows" class="clearfix pt-3 pl-5">
          <div class="mb-4">
            <img src="/assets/images/WF_App_home.png" alt="smartphone" class="float-left app mr-5" />
            <h3>Boodschappenlijst</h3>
            <h6 class="text-info">Voor Windows</h6>
          </div>
          <div class="row text-muted font-weight-light">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci neque, efficitur a mauris sit amet, luctus vestibulum dolor. Morbi sollicitudin in arcu ac rhoncus. Pellentesque eu porttitor nulla. Integer semper iaculis tempus. Suspendisse non feugiat justo.</p>
            </div>
            <div class="col-sm-6">
                <p>Nullam iaculis urna sit amet mauris interdum, sed sagittis justo ultricies. Suspendisse luctus neque non sapien gravida, sit amet scelerisque neque facilisis. Mauris erat tortor, scelerisque sed justo vel, porta pharetra tortor. </p>
            </div>
          </div> <!-- end row -->
          <div class="clearfix pt-5">
            <img src="/assets/images/mandje.png" alt="logo" class="float-left logo mr-3" />
            <p class="text-primary">Boodschappenlijst</p>
            <a href="https://www.microsoft.com/nl-be/store/appsvnext/windows" target="blank">
              <img src="/assets/images/microsoftStore.png" alt="Microsoft Store " class="platform" />
            </a>
          </div>
        </div> <!-- end android -->
      </div>
    </div><!-- end row -->
  </div> <!-- end container -->
</div> <!-- end container-fluid -->
